<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>{{greeting}} {{user}}!</h1>
        <p id="startup">Application has started at {{startupTime}}.</p>
        <p>
            It is <span id="now">{{time}}</span> now and this is #<span id="counter">{{counter}}</span> request.
        </p>
    </body>
</html>
